body {
  background-color: #3c3d58;
}

.vignette {
  position: fixed;
  box-shadow: inset 0 0 6em #33344e;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #a992b1;
  border: none;
  color: #d1e6e8;
  text-align: center;
  font-size: 60px;
  width: 150px;
  height: 61px;
  transition: all 0.2s;
  cursor: pointer;
  margin: 100px;
  margin-top: 80px;
  line-height: 45px;
  margin-bottom: 30px;
}

.button span {
  transition: 0.25s;
}

.button:hover span {
  padding-right: 20px;
  font-size: 55px;
}

.button:hover {
  background-color: #c9b2d1;
  line-height: 45px;
}

h1 {
  font-size: 500%;
  color: #d1e6e8;
  text-align: center;
}

h2 {
  font-size: 400%;
  color: #d1e6e8;
  text-align: center;
}

h3 {
  font-size: 250%;
  color: #d1e6e8;
}

h4 {
  font-size: 200%;
  color: #d1e6e8;
}

p {
  font-size: 105%;
  color: #d1e6e8;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
  max-width: 600px;
}

.image {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: 0.4s ease;
  backface-visibility: hidden;
  padding: 8px;
  margin-right: 10px;
}

.container:hover .image {
  opacity: 0.71;
}

.image2 {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: 0.4s ease;
  backface-visibility: hidden;
  padding: 8px;
  margin-right: 10px;
}

.container:hover .image2 {
  opacity: 0.5;
}

.image3 {
  opacity: 1;
  display: block;
  width: 200%;
  height: auto;
  transition: 0.4s ease;
  backface-visibility: hidden;
  padding: 8px;
  margin-right: 10px;
}

.container:hover .image3 {
  opacity: 0.6;
}

.imageWhiteSquare {
  opacity: 1;
  position: absolute;
  width: 200%;
  height: auto;
  transition: 0.4s ease;
  backface-visibility: hidden;
  padding: 8px;
  margin-right: 10px;
  z-index: -1;
}

.fa {
  padding: 9px;
  font-size: 24px !important;
  width: 45px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  margin: 16px 7px;
  border-radius: 100%;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-linkedin:hover {
  background: #3499c8;
}
